{% extends 'mainsite/base.html' %} {% block content %} {% load static %}
<div class="login_page">
<form method='POST' action='' class="test">
    {% csrf_token %}
    <div class="login_field">
        <p>Email</p>
        <input type='text' name="email">
    </div>
    <div class="password_field">
        <p>Пароль</p>
        <input type='text' name="password">
    </div>
    <div class="login_btn">
        <input type="submit" value="Войти">
    </div>
    <a href="{% url 'registration' %}">
        <p>Регистрация</p>
    </a>

</form>
</div>
{% endblock %}