{% extends 'mainsite/base.html' %} {% block content %} {% load static %}
<div class="registration_page">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="email_label form_field">
            <p>Email</p>
        </div>
        <div class="Email_field form_field">
            {{form.email}}
        </div>
        <div class="password1_label form_field">
            {{form.password1.label}}
        </div>
        <div class="password1_field form_field">
            {{form.password1}}
        </div>
        <div class="password2_label form_field">
            {{form.password2.label}}
        </div>
        <div class="password2_field form_field">
            {{form.password2}}
        </div>
        <a href="{% url 'login' %}">
            <p>Войти</p> 
        </a>
        <div class="registration_btn">
            <input  type="submit" name="Create User" value="Зарегистрироваться">
        </div>
    </form>
    
</div>
{% endblock %}