{% extends 'mainsite/base.html' %} {% block content %} {% load static %}

<div class="course_container">
    <div class="course">
        {% if user.is_staff %}
        <div class="course_creation_btn">
            <a href="{% url 'element_creation' pk=course.pk %}" >   
                <p>Создать элемент курса( только если админ)</p>
            </a>
        </div>
        {% endif %}
        <div class="course_list">
            <p>{{course.name}}</p>
        </div>
        {% for element in elements %}
        <a href="{% url 'element_detail' pk=element.pk %}" > 
            <div class="course_btn">
                    <p>{{element.name}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>




{% endblock %}